#NET "clk_100_mhz" TNM_NET = "TNM_clk_100_mhz";
#TIMESPEC "TS_clk_100_mhz" = PERIOD "TNM_clk_100_mhz" 100 MHz HIGH 50 %;
#NET "clk_10_mhz" TNM_NET = "TNM_clk_10_mhz";
#TIMESPEC "TS_clk_10_mhz" = PERIOD "TNM_clk_10_mhz" 10 MHz HIGH 50 %;

#NET "CLK" TNM_NET = "clk_net";
#TIMESPEC "TS_clk_net" = PERIOD "clk_net" 10 ns;

#PIN "sclk_gen/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

# misc
NET "RESET" LOC = "J11" | IOSTANDARD = LVCMOS33;
#NET "RESET" IOSTANDARD = LVCMOS33;
NET "MOD_LED" LOC = "T14" | IOSTANDARD = LVCMOS33;

#NET "pad_net_name" IOSTANDARD=iostandard_name;
#NET "MAIN_CLOCK_IN" IOSTANDARD = LVCMOS33;

# 200 MHZ clock
NET "CLK_S3AN_N" LOC = "D8" | IOSTANDARD = LVDS_33;
NET "CLK_S3AN_P" LOC = "C8" | IOSTANDARD = LVDS_33;

# ADC
NET "ADC2_D[0]" LOC = "A13" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[1]" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[2]" LOC = "A12" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[3]" LOC = "A11" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[4]" LOC = "C11" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[5]" LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[6]" LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "ADC2_D[7]" LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "ADC2_SCLK2" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "ADC2_SCLK1" LOC = "A5" | IOSTANDARD = LVCMOS33;
NET "ADC2_CCLK2" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "SLOAD_ADC2" LOC = "A14" | IOSTANDARD = LVCMOS33;
NET "SCLK_ADC" LOC = "B14" | IOSTANDARD = LVCMOS33;
NET "SDATA_ADC" LOC = "B15" | IOSTANDARD = LVCMOS33;

# Sensor
NET "SEL_SR" LOC = "C1" | IOSTANDARD = LVCMOS33;
NET "CLK_C" LOC = "C2" | IOSTANDARD = LVCMOS33;
NET "START_C" LOC = "D3" | IOSTANDARD = LVCMOS33;
NET "START_ROI" LOC = "E1" | IOSTANDARD = LVCMOS33;
NET "HOLD" LOC = "D1" | IOSTANDARD = LVCMOS33;
NET "ENABLE_ROI" LOC = "E2" | IOSTANDARD = LVCMOS33;
NET "CLEAR_R" LOC = "F3" | IOSTANDARD = LVCMOS33;
NET "CLK_ROI" LOC = "G1" | IOSTANDARD = LVCMOS33;
NET "CLK_R" LOC = "F1" | IOSTANDARD = LVCMOS33;
NET "START_R" LOC = "H1" | IOSTANDARD = LVCMOS33;
NET "END_R" LOC = "G2" | IOSTANDARD = LVCMOS33;
NET "CLEAR_C" LOC = "J3" | IOSTANDARD = LVCMOS33;
NET "RESET_CCD" LOC = "R5" | IOSTANDARD = LVCMOS33;
NET "END_C" LOC = "T6" | IOSTANDARD = LVCMOS33;
NET "G_RESET" LOC = "T5" | IOSTANDARD = LVCMOS33;
NET "ADC_CTRL" LOC = "T7" | IOSTANDARD = LVCMOS33;
NET "MODSEL" LOC = "R9" | IOSTANDARD = LVCMOS33;
#
NET "CCD_CE_A" LOC = "T10" | IOSTANDARD = LVCMOS33;
NET "CCD_CE_D" LOC = "R7" | IOSTANDARD = LVCMOS33;
NET "CCD_SCLK" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "CCD_SDI" LOC = "T8" | IOSTANDARD = LVCMOS33;
NET "CCD_SDO" LOC = "P8" | IOSTANDARD = LVCMOS33;

# SPI to Blackfin
NET "SPI_SEL_S3AN" LOC = "P15" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "SPISCK_S3AN" LOC = "J14" | IOSTANDARD = LVCMOS33;
NET "SPIMISOS_3AN" LOC = "P13" | IOSTANDARD = LVCMOS33;
NET "SPIMOSIS3AN" LOC = "R14" | IOSTANDARD = LVCMOS33;

# PPI
NET "PPICLK" LOC = "M16" | IOSTANDARD = LVCMOS33;
NET "PPIFS1" LOC = "N16" | IOSTANDARD = LVCMOS33;
NET "PPIFS2" LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "PPIFS3" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "PPID[0]" LOC = "M15" | IOSTANDARD = LVCMOS33;
NET "PPID[1]" LOC = "L16" | IOSTANDARD = LVCMOS33;
NET "PPID[2]" LOC = "K16" | IOSTANDARD = LVCMOS33;
NET "PPID[3]" LOC = "K15" | IOSTANDARD = LVCMOS33;
NET "PPID[4]" LOC = "G16" | IOSTANDARD = LVCMOS33;
NET "PPID[5]" LOC = "H16" | IOSTANDARD = LVCMOS33;
NET "PPID[6]" LOC = "F16" | IOSTANDARD = LVCMOS33;
NET "PPID[7]" LOC = "F15" | IOSTANDARD = LVCMOS33;
NET "PPID[8]" LOC = "D14" | IOSTANDARD = LVCMOS33;
NET "PPID[9]" LOC = "C15" | IOSTANDARD = LVCMOS33;
NET "PPID[10]" LOC = "E16" | IOSTANDARD = LVCMOS33;
NET "PPID[11]" LOC = "D16" | IOSTANDARD = LVCMOS33;
NET "PPID[12]" LOC = "D15" | IOSTANDARD = LVCMOS33;
NET "PPID[13]" LOC = "C16" | IOSTANDARD = LVCMOS33;
NET "PPID[14]" LOC = "J16" | IOSTANDARD = LVCMOS33;
NET "PPID[15]" LOC = "H15" | IOSTANDARD = LVCMOS33;

# Test points
NET "TP[13]" LOC = "P9" | IOSTANDARD = LVCMOS33;
NET "TP[14]" LOC = "J1" | IOSTANDARD = LVCMOS33;
NET "TP[15]" LOC = "J2" | IOSTANDARD = LVCMOS33;
NET "TP[16]" LOC = "K1" | IOSTANDARD = LVCMOS33;
NET "TP[17]" LOC = "K3" | IOSTANDARD = LVCMOS33;
NET "TP[18]" LOC = "L2" | IOSTANDARD = LVCMOS33;
NET "TP[19]" LOC = "L1" | IOSTANDARD = LVCMOS33;
NET "TP[20]" LOC = "L4" | IOSTANDARD = LVCMOS33;
NET "TP[21]" LOC = "N1" | IOSTANDARD = LVCMOS33;
NET "TP[22]" LOC = "M1" | IOSTANDARD = LVCMOS33;
NET "TP[23]" LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "TP[24]" LOC = "N2" | IOSTANDARD = LVCMOS33;
NET "TP[25]" LOC = "R1" | IOSTANDARD = LVCMOS33;
